<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page_name}}</title>
    <!-- 引入 layui -->
    <link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css') }}">
    <script src="{{ url_for('static',filename='layui/layui.js') }}"></script>
    <!-- 引入 layui -->

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/font.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    {% endblock %}
    <style>
        .base_header{
            width: 100%;
            height: max-content;
            text-align: center;

            border-bottom: gray 1px solid;
        }
        .base_header p.header_title {
            color: orange;
            font-weight: bolder;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <div class="base_header">
        <p class="header_title">ICVE-HELPER</p>
        <p><a href="https://gitee.com/saucer216/icve-helper">开源地址:https://gitee.com/saucer216/icve-helper</a></p>
        <span style="color: red;">当前为ALPHA阶段，随时都可能维护从而无法访问</span>
    </div>
    {% block content %}
        CONTENT HERE
    {% endblock %}
    <div style="text-align: center;">
        <a href="https://beian.miit.gov.cn/">皖ICP备2021015154号</a>
    </div>
</body>
    {% block outBody %}
    {% endblock %}
</html>